.bg {
  position: absolute;
  /* add a background image that consumes the entire component without resizing */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* make only the background image blurry */
  filter: blur(1px);
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.field {
  width: 15rem;
}
.inputsAndDataWrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.inputAndDataContainer {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  align-items: center;
}
.details {
  width: 100%;
}
.videoWrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 0;
  margin: 0;
}
.videoContainer {
  position: relative;
  background-color: blue;
  overflow: hidden;
}
.videoIframe {
  position: relative;
}
